 # requirements.txt
 # Trick from here: 
 # installs dependencies from ./setup.py, and the package itself,
 # in editable mode
 # KB - I'm not sure we want to do this, as setup.py references this file for the dependencies
 #  -e .
wheel
 # sphinx needs docutils==0.17

docutils==0.17
sphinx

numpy
h5py
 matplotlib
 astropy
 pytz
 wheel
 grpcio
 etcd3
 pyyaml
 coloredlogs

 # (the -e above is optional). you could also just install the package
 # normally with just the line below (after uncommenting)
 # .

grpcio
dill
#astropy==4.1
#attrs==21.2.0
#backcall==0.2.0
#coloredlogs==15.0.1
#craco==0.0.1
#craco-testing==0.0.1
#craft==0.0.1
#cycler==0.11.0
#decorator==5.1.0
#dill==0.3.4
#docutils==0.18
#etcd3==0.12.0
#grpcio==1.42.0
#humanfriendly==10.0
#importlib-metadata==4.8.2
#iniconfig==1.1.1
#ipython==7.16.1
#ipython-genutils==0.2.0
#jedi==0.18.1
#kiwisolver==1.3.1
#lxml==4.6.4
#matplotlib==3.3.4
#numpy==1.19.5
#packaging==21.3
#parso==0.8.2
#pexpect==4.8.0
#pickleshare==0.7.5
#Pillow==8.4.0
#pkg-resources==0.0.0
#pluggy==1.0.0
#prompt-toolkit==3.0.22
#protobuf==3.19.1
#ptyprocess==0.7.0
#py==1.11.0
#Pygments==2.10.0
#pyparsing==3.0.6
#pytest==6.2.5
#python-dateutil==2.8.2
#pytz==2021.3
#PyYAML==6.0
#six==1.16.0
#tenacity==8.0.1
#toml==0.10.2
#traitlets==4.3.3
#typing-extensions==4.0.0
#wcwidth==0.2.5
#zipp==3.6.0
