 # requirements.txt
 # Trick from here: 
 # installs dependencies from ./setup.py, and the package itself,
 # in editable mode
 # KB - I'm not sure we want to do this, as setup.py references this file for the dependencies
 #  -e .
wheel
 # sphinx needs docutils==0.17

docutils==0.17
sphinx
pyepics

numpy
h5py
scipy
numba
iqrm
 matplotlib
 astropy
 pytz
 wheel
 grpcio
 etcd3
 pyyaml
 coloredlogs

 # (the -e above is optional). you could also just install the package
 # normally with just the line below (after uncommenting)
 # .

grpcio
dill
iqrm


# for candidate writer
npy-append-array

# for candidate pipeline
scikit-learn

# vivek's candidate plotter
#candploter @ git+https://github.com/vivgastro/candplotter.git
